.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    border-bottom: 1px solid var(--surface-1);
    margin: 0;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid var(--surface-1);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    bottom: -1px;
    margin-right: 0.25rem;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;

    &--selected {
      background: var(--surface-3);
      border-color: var(--surface-1);
      color: var(--primary);
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      outline: none;
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      background-color: var(--surface-3);
      border: 1px solid var(--surface-1);
      border-radius: 0 0 var(--radius-2) var(--radius-2);
      border-top: none;
      box-shadow: var(--shadow-2);
      display: block;
      padding: 1rem;
    }
  }
}
